body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#mcverify-div {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333333;
}

p {
    text-align: center;
    color: #333333;
}

.ret-no {
    color: #f50f0f;
}

.ret-yes {
    color: #03ff2d;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #000000;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 8px;
    text-align: left;
}

button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1f618d;
}